{% extends "Tienda/index.html" %}

{% block titulo %}
     <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Lista de Categorias</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Página de categorias_list</p>
                </div>
            </div>
        </header>
{% endblock titulo %}

{% block contenido %}
<table>
    <tr>
        <td with="200"><h2>Categorias</h2></td>
        <td>
            <a href="{% url 'categoriaCreate' %}" class="btn btn-primary btn-sm">
            <i class="fa fa-plus fa-lg" title="Crear"></i>
            </a>
        </td>
    </tr>
</table>
    <table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
        </tr>
    </thead>
    <tbody>
    {% for c in categoria_list %}
        <tr>
            <td> {{ c.id }}</td>
            <td>{{ c.nombre }}</td>
            <td>
                <a
                  href="{% url 'categoriaUpdate' c.id %}"
                  class="btn btn-primary"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                  ><i class="fa fa-edit fa-sm" title="Edit Record"></i>
                </a>
                <a
                  href="{% url 'categoriaDelete' c.id %}"
                  class="btn btn-danger"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                  ><i class="fa fa-trash fa-sm" title="Delete Record"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock contenido %}

