{% extends 'Tienda/index.html' %}


{% block titulo %}
     <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Alta Categoria</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Crea una nueva categoría de tu producto</p>
                </div>
            </div>
        </header>
{% endblock titulo %}

{% block contenido %}
    <form action="" method="post">
    {% csrf_token %}
        <table class="table-striped text-center">
            <br>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Guardar" style="display: block; margin: 0 auto;">
        <br>
    </form>
{% endblock contenido %}
